@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  /* Primary */
  /* Text */
  /* (sub-heading at the top of the app UI) */
  --PaleViolet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --ModerateViolet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --GrayishBlue: hsl(206, 6%, 79%);
  /* (main heading) */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --DarkGrayishViolet: hsl(270, 7%, 64%);
  /* Gradients */
  --LightMagenta: hsl(293, 100%, 63%);
  --LightViolet: hsl(264, 100%, 61%);
  /* Secondary */
  --White: hsl(0, 0%, 100%);
  /* (app background)  */
  --LightGrayishViolet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --VeryLightMagenta: hsl(289, 100%, 72%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  background-color: var(--GrayishBlue);
  position: relative;
}
img{
  max-width: 100%;
}
.page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.illustration {
  position: absolute;
  top: 0;
  left: 0;
}
.phone {
  width: 250px;
  height: 500px;
  border: 12.5px solid var(--White);
  border-radius: 20px;
  position: relative;

}
.camera {
  position: absolute;
  width: 60%;
  transform: translateX(-50%);
  height: 25px;
  border-radius: 50px;
  top: -12.5px;
  left: 50%;
  background-color: var(--White);
}
.chat_header {
  background: linear-gradient(var(--LightMagenta), var(--LightViolet));
  height: 65px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;  
}
.chat_profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.chat_owner{
  display: flex;
  align-items: center;
}
.icon-wrapper{
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* LEFT ARROW */
.fa-solid.fa-chevron-left {
  color: var(--LightGrayishViolet);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.chat_owner img{
  width: 30px;
  height: 30px;
  border: 2px solid var(--LightGrayishViolet);
  border-radius: 50%;
  margin: 0 10px;
}

.fa-ellipsis {
  color: var(--LightGrayishViolet);
}
.chat_detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat_name{
  color: var(--LightGrayishViolet);
  font-size: 16px;
}
.chat_status{
  color: var(--PaleViolet);
  font-size: 12px;
}
/* TEXT AREA */
.text {
  width: 440px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.text h1 {
  font-weight: 700;
  font-size: 30px;
}
.text p {
  font-weight: 500;
  color: var(--DarkGrayishViolet);
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
