@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  /* Primary */
  /* Text */
  /* (sub-heading at the top of the app UI) */
  --PaleViolet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --ModerateViolet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --GrayishBlue: hsl(206, 6%, 79%);
  /* (main heading) */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --DarkGrayishViolet: hsl(270, 7%, 64%);
  /* Gradients */
  --LightMagenta: hsl(293, 100%, 63%);
  --LightViolet: hsl(264, 100%, 61%);
  /* Secondary */
  --White: hsl(0, 0%, 100%);
  /* (app background)  */
  --LightGrayishViolet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --VeryLightMagenta: hsl(289, 100%, 72%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  background-color: var(--GrayishBlue);
  position: relative;
}
img {
  max-width: 100%;
}
.page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.illustration {
  position: absolute;
  top: 0;
  left: 0;
}
.phone {
  width: 250px;
  height: 500px;
  border: 10px solid var(--White);
  border-radius: 40px;
  /* padding: 15px; */
  position: relative;
  background-color: var(--LightGrayishViolet);

  overflow: hidden;
}
.camera {
  position: absolute;
  width: 60%;
  transform: translateX(-50%);
  height: 25px;
  border-radius: 50px;
  top: -12.5px;
  left: 50%;
  background-color: var(--White);
}
.chat_header {
  background: linear-gradient(var(--LightMagenta), var(--LightViolet));
  height: 65px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border-radius: 0 0 6px 6px;
}
.chat_profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat_owner {
  display: flex;
  align-items: center;
}
.icon-wrapper {
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* LEFT ARROW */
.fa-solid.fa-chevron-left {
  color: var(--LightGrayishViolet);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.chat_owner img {
  width: 30px;
  height: 30px;
  border: 2px solid var(--LightGrayishViolet);
  border-radius: 50%;
  margin: 0 10px;
}

.fa-ellipsis {
  color: var(--LightGrayishViolet);
}
.chat_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat_name {
  color: var(--LightGrayishViolet);
  font-size: 12px;
}
.chat_status {
  color: var(--PaleViolet);
  font-size: 9px;
}
.messages {
  width: 100%;
  height: calc(100% - 65px);
  /* background-color: var(--LightGrayishViolet); */
  padding: 10px;
}
.text_recieved {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4px;
}
.recieved {
  padding: 6px 9px;
  font-size: 9.6px;
  font-weight: 400;
  width: 72%;
  color: var(--ModerateViolet);
  background-color: hsla(289, 100%, 72%, 0.096);
  border-radius: 14px;
  border-bottom-left-radius: 5px;
  margin-bottom: 5px;
  line-height: 1.3;
}
.dog_images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  /* margin-bottom: 10px; */
}

.dog_img {
  width: 20%;
  border-radius: 10px;
}

.text_sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sent {
  color: hsl(271, 15%, 43%);
  padding: 6px 9px;
  font-size: 9.6px;
  font-weight: 400;
  width: 72%;
  background-color: white;
  border-radius: 14px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.sent_small {
  background-color: white;
  border-radius: 14px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: hsl(271, 15%, 43%);
  font-size:  9.5px;
}
.price div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  padding: 10px 15px 10px 10px;
  background: linear-gradient(250deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 14px;
  border-bottom-left-radius: 5px;
  margin-bottom: 5px;
  outline:  hsl(289, 100%, 72%);
}
.price p.price-text{
  color:  hsl(276, 100%, 93%);
  display: flex;
  align-items: center;
  font-size: 10px;
}
p.price-text span.circle{
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid hsl(270, 20%, 96%);
  border-radius: 50%;
  margin-right: 10px;
}
p.dollar{
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.chat_input{
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  font-size: 12px;
  color: var(--GrayishBlue);
  background-color: var(--White);
  border-radius: 30px;
}
.fa-solid.fa-chevron-left.fa-rotate-90{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
}
/* TEXT AREA */
.text {
  width: 440px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 30px;
}
.paragraph {
  font-weight: 500;
  color: var(--DarkGrayishViolet);
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
